<nav class="navbar navbar-expand-lg navbar-dark container-fluid cornavbar sticky-top">
    <a class="navbar-brand" href="#">
        <img src="https://imgur.com/1Cp6mD5.png
        " height="50" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto centralizar-links">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink='/sobre-nos'>Formigueiro</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#projetos">Projetos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href='#' routerLink='/inicio'>Posts</a>
            </li>
        </ul>
        <nav class="navbar navbar-light">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control" type="search" placeholder="Busque por algo" aria-label="Search">
              <button class="btn botaopesquisar" type="submit"><img src="https://i.imgur.com/sgGYLM2.png
                " height="20px" width="20px" alt="pesquisar"></button>
            </form>
          </nav>
          
    </div>
</nav>
<div class="container-fluid">
    
    <div class="row d-flex align-items-center">
    <div class="col-md-4">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-3 cadastro">Entrar</h1>
                
                <div class="form-group">
                    <label for="usuario">Usuário</label>
                    <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu Usuário" [(ngModel)] ="usuarioLogin.usuario"/>
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input class="form-control" type="password" name="senha" id="senha" placeholder="Sua Senha" [(ngModel)]="usuarioLogin.senha"/>
                </div>
            </div>
            
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn colorbtn" (click)='entrar()'>Entrar</button>
        </div>
        <hr class="mt-5 mb-5">
        <p class="text-center cadastro">Não tem uma conta? <a href="" routerLink = '/cadastrar' class="cadastro2">Cadastre-se</a></p>
    </div>
    <div class="col-md-8" id="img-bg"></div>
    </div>

</div>























<!-- <div class="container-fluid">

    <div class="row d-flex align-items-center>
       <div class="col-md-6"></div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <h1>Entrar</h1>
            </div>
        </div>
    </div>
      
       <div class="col-md-6 " id="img-bg"></div>
    </div> -->


<!-- <div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1 class="text-center mb-3">Entrar</h1>

                    <div class="form-group">
                        <label for="usuario">Usuário</label>
                        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário"
                            [(ngModel)]="usuarioLogin.usuario" />
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha"
                            [(ngModel)]="usuarioLogin.senha" />
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success" (click)='entrar()'>Entrar</button>
                    </div>

                    <hr class="mt-5 mb-5" />

                    <p class="text-center">
                        Não tem uma conta? <a routerLink='/cadastrar'>Cadastre-se</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6" id="bg-img">
        </div>
    </div>
</div>  -->






















