<nav class="navbar navbar-expand-lg navbar-dark container-fluid cornavbar sticky-top">
    <a class="navbar-brand" href="#">
        <img src="https://imgur.com/1Cp6mD5.png
        " height="50" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto centralizar-links">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink='/sobre-nos'>Formigueiro</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#projetos">Projetos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href='#' routerLink='/inicio'>Posts</a>
            </li>
        </ul>
        <nav class="navbar navbar-light ">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control" type="search" placeholder="Busque por algo" aria-label="Search">
              <button class="btn botaopesquisar" type="submit"><img src="https://i.imgur.com/sgGYLM2.png
                " height="20px" width="20px" alt="pesquisar"></button>
            </form>
          </nav>
          
    </div>
</nav>

<div class="container-fluid imgFundo">

 
         <div class="col-md-4 chamadabox "> 
            <h1 class="ml-2 ml-sm-5  ">Junte-se <br>ao nosso <br>Formigueiro!</h1>
          
            <h2 class="mt-3 mb-5 ml-2 ml-sm-5 text-white">O nosso trabalho de formiguinha precisa
                da sua ajuda para construir um mundo melhor
                .</h2>
            <button class="btn botaonavbar mb-5 mr-3 ml-5" type="submit" routerLink='/entrar'>Entrar</button>
            <button class="btn botaocadastrar mb-5 ml-3" type="submit" routerLink='/cadastrar'>Cadastre-se</button>
        </div> 

        
      
          
      
</div>

        <section class="container-fluid fundoBranco text-center d-flex align-items-center ">
            
            <div class="row col-md-6">
               <div class="col-md-6 chamadabox"> 
                  <h2 class="mt-3 mb-5 letraEscura" id="projetos">Conheça um pouco do trabalho das nossas formigas:</h2>
                  <h3 class="letraEscura">Formigas lindas unidas jamais serão vencidas</h3>
                  <button class="btn botaonavbar mb-5 mt-5 mr-3 ml-5" type="submit" routerLink='/sobre-nos'>Saiba mais</button>
              </div> 
              
              <div class="col-md-6 mt-5 mb-5 quadradoAmarelo">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/VfIcHSHB2XM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        



    
    <!-- <section class="container fundoBranco text-center m-auto d-flex">
        <div class="row">
           <div class="col-md-6 chamadabox"> 
              <h2 class="mt-3 mb-5">O nosso trabalho de formiguinha precisa
                  da sua ajuda para construir um mundo melhor
                  .</h2>
              <button class="btn botaonavbar mb-5 mr-3 ml-5" type="submit" routerLink='/entrar'>Entrar</button>
          </div> 
          <div class="col-md-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eW8-uxA2q94" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div> -->

  






   







    



    <!-- <div class="text-center my-5" id="projetos">
        <span class="features">Features</span>
        <h4 class="my-4">Our Core Feature</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Quos architecto doloribus eaque </p>
    </div>
    <div class="row my-5">
        <div class="col-md-3">
            <div class="d-flex flex-column">
                <img src="./img/icon-1.jpg" height="50" alt="Icone 1" class="align-self-center  mb-3">
                <h5 class="text-center mb-4">Lorem, ipsum dolor.</h5>
                <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates 
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex flex-column">
                <img src="./img/icon-2.jpg" height="50" alt="Icone 1" class="align-self-center  mb-3 ">
                <h5 class="text-center mb-4">Lorem, ipsum dolor.</h5>
                <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex flex-column">
                <img src="./img/icon-3.jpg" height="50" alt="Icone 1" class="align-self-center mb-3">
                <h5 class="text-center mb-4">Lorem, ipsum dolor.</h5>
                <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex flex-column">
                <img src="./img/icon-4.jpg" height="50" alt="Icone 1" class="align-self-center mb-3">
                <h5 class="text-center mb-4">Lorem, ipsum dolor.</h5>
                <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates </p>
            </div>
        </div>
    </div> -->